<div class="container-padre">
    <div class="container">
        <div class="item">
            <img src="assets/img/hombre1.jpeg" alt="" width="340" height="440">
        </div>
        <div class="item">
            <img src="assets/img/mujer1.jpeg" alt="" width="340" height="440">
        </div>
        <div class="item">
            <img src="assets/img/hombre2.jpeg" alt="" width="340" height="440">
        </div>
    </div>

    <div class="container2">
        <h1>Nuestros Líderes</h1>
        <p>En cada expedición, el número de participantes se mantiene a un nivel que permita mantener la más alta calidad. No queremos ser esa empresa en la que te conviertes en un número o incluso en un borrón una vez finalizada la expedición, por lo que tenemos un límite estricto para asegurarnos de que nuestros grupos nunca se vuelvan demasiado grandes.
        </p>
        <br>
        <p>Nosotros Creemos firmemente que al hacer esto, nuestros líderes de Mountain Expeditions pueden brindar un servicio más personalizado y descubrimos que la dinámica de grupo funciona mucho mejor que cuando se viaja en grandes cantidades. Por lo tanto, su tasa de éxito y disfrute aumenta enormemente.
        </p>
    </div>
</div>
