<div class="container-padre">
    <div class="container">
        <div class="item">
            <img src="assets/img/chico-montaña.jpeg" alt="">
            <h1>Informes de expedición</h1>
            <p>(mi escrito completo de 2017) "Frío, remoto y desolado.
                Si al principio no tiene éxito ... "Extracto de mi intento
                de 2016: Eran las 04:00 a.m. y necesitaba detenerme. Me dolía mucho.
            </p>
            <a href="#" class="boton">LEE MAS</a>
        </div>
        <div class="item paisaje">
            <img class="imagenpaisaje" src="assets/img/paisaje.jpeg" alt="">
            <h1>Artículos</h1>
            <p> Sidetracked Magazine es una revista en línea e impresa que presenta
                una colección limitada de historias personales de viajes de aventura,
                viajes y expediciones.
            </p>
            <a href="#" class="boton">LEE MAS</a>
        </div>
        <div class="item">
            <img src="assets/img/chico-bosque.jpeg" alt="">
            <h1>Blog</h1>
            <p>(mi escrito completo de 2017) "Frío, remoto y desolado. 
                Si al principio no tiene éxito ... "Extracto de mi intento de 2016: 
                Eran las 04:00 a.m. y necesitaba detenerme.
            </p>
            <a href="#" class="boton">LEE MAS</a>
        </div>
    </div>
</div>
