<div class="container-padre">
    <div id="border"></div>
    <h1 class="titulo">
        Contáctenos
    </h1>
    <div class="container">
        <div class="textos">
            <p>Mountain Expeditions emplea a un pequeño número
            de líderes de expedición altamente experimentados para
            dirigir nuestros viajes. Elegidos cuidadosamente por su 
            experiencia, calificaciones, personalidad y su capacidad para 
            aplicarse a situaciones desafiantes.</p>
            <br>
            <p class="contact">Móvil: +11 (0) 5684147157</p>
            <p class="contact">Oficina: +55 (0) 117240 2300</p>
            <p class="contact">Correo electrónico: info@mountain-expeditions.com</p>
        </div>
        <div class="inputs">
            <input type="text" placeholder="Enter your Name">
            <input type="email" name="" id="" placeholder="Enter a valid email address">
            <textarea name="" id="" cols="65" rows="6" placeholder="Enter your message"></textarea>
            <a href="#" class="boton">ENVIAR</a>
        </div>
    </div>
</div>
