<div class="container">
    <div class="main">
        <div class="imagen">
            <img src="assets/img/1.jpeg" alt="" width="545px" height="420">
        </div>
        <div class="imagen">
            <img src="assets/img/2.jpeg" alt="" width="350px" height="420">
        </div>
        <div class="imagen">
            <img src="assets/img/3.jpeg" alt="" width="350px" height="420">
        </div>
        <div class="imagen">
            <img src="assets/img/4.jpeg" alt="" width="300px" height="420">
        </div>
    </div>
</div>