* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 350px;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    object-fit: cover;
}
