<div class="container-padre">
    <div class="container">
    <section class="main">
        <div class="adventure">
            <img src="assets/img/adventure.png" alt="">
        </div>
        <div class="textos">
        <article class="titulo">
            <h1>¡Bienvenido a Mountain Expeditions Club!</h1>
        </article>
        <article class="subtitle">
            <h5>Expediciones al extranjero, desafíos de montaña del Reino Unido
                Guía e instrucción privados</h5>
        </article>
        </div>
    </section>
    </div>
</div>