<div class="container-padre">
    <div class="container">
        <div class="adventure">
            <img src="assets/img/adventure-blanco.png" alt="">
        </div>
        <div class="textos">
            <div class="titulo">
                <h1>Líderes de expedición</h1>
            </div>
            <div class="subtitulo">
                <p> De vez en cuando, Mountain Expeditions utiliza una
                    serie de Líderes de Montaña (ML), Instructores de Montañismo
                    (MIA / MIC) y Guías de Montaña (UIAGM) asociados cuidadosamente
                    y personalmente seleccionados para llevar a cabo las expediciones,
                    la instrucción y la guía. méritos individuales basados en la
                    combinación de sus habilidades técnicas, calificaciones y excelentes
                    habilidades interpersonales. Estos guías son amigos y colegas y
                    comprenden el espíritu de Mountain Expeditions y cumplen con los más altos estándares.
                </p>
            </div>
        </div>
    </div>
</div>