<div id="border"></div>

<div class="titulo"><h1>Sobre nosotros</h1></div>
<div class="container">
    <div class="container-main">
        <p class="texto1">Mountain Expeditions es una pequeña empresa británica
        dirigida por Jon Gupta. Nos especializamos en expediciones 
        a medida, profesionales y organizadas sin problemas en todo el mundo.</p>
        <br>
        <p class="texto2">Una expedición exitosa se compone de cientos de pequeñas 
        experiencias maravillosas adquiridas de principio a fin. 
        Por lo tanto, nos aseguramos de que todos los aspectos de su 
        viaje estén organizados y bien administrados por expertos.</p>
    </div>
    <div class="container-main2">
        <p class="texto3">Operamos en 6 países. Respetamos y valoramos a las comunidades 
        locales con las que trabajamos y hemos cultivado y construido 
        relaciones sólidas con ellas. Como resultado, sentimos que tenemos
        una comprensión más profunda de cómo entregarle mejor el viaje de su vida.</p>
        <a href="#" class="boton">LEE MAS</a>
    </div>
</div>
